:root{
    --boolist-primary: #47adf1; /*colore testo primo "bottone" header*/
    --boolist-primary-light: #45abea;
    --boolist-secondary: #9c72e4;
    --boolist-secondary-light: #d863a1;
    --boolist-third: #64c0a9;
    --boolist-third-light: #94d6c8; /*colore spunta verde*/
    --boolist-fourth: #f29e33;
    --boolist-fourth-light: #f2817a; /*colore spunta rossa*/
    --boolist-fifth: #b0c926;
    --boolist-sixth: #d0d4d9; /*colore testo secondo "bottone" header*/
    --boolist-sixth-light: #f6f8f9; /*colore sfondo body*/
    
}

*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", system-ui;
    font-style: normal;
    box-sizing: border-box;
}

body{
    background-color: var(--boolist-sixth-light);
}

.initial-header{
    background-color: white;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-bottom: 10px;
}

.list-unstyled{
    list-style: none;
}

div{
    margin-top: 15px;
}

.logo-img{
    margin-left: 1rem;
}

.logo-text{
    font-family: 'Times New Roman', Times, serif;
}

.container{
    background-color: white;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
    border-radius: 1rem;
    margin-bottom: 2rem;
}

#container-header{
    padding: 20px;
    border-bottom: 3px solid #f6f8f9;
}

#task-button{
    background-color: var(--boolist-primary);
    border-radius: 5px;
    padding: 10px;
    color: white;
    margin-left: 30px;
}

#section-button{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
    color: var(--boolist-sixth);
}

section{
    margin-left: 30px;
    padding: 20px;
}

.icon{
    height: 1rem;
    width: 1rem;
    font-size: 0.8rem;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 1rem;
    border-radius: 50%;
}

.checkmark{
    color: var(--boolist-third-light);
    border-color:var(--boolist-third-light);
}

.crossmark{
    color: var(--boolist-fourth-light);
    border-color: var(--boolist-fourth-light);
}

.button{
    font-size: 10px;
    border-radius: 0.7rem;
    color: white;
    padding: 7px;
    margin-left: 5px;
}

.bg_primary-light{
    background-color: var(--boolist-primary-light);
}

.bg_secondary{
    background-color: var(--boolist-secondary);
}

.bg_third{
    background-color: var(--boolist-third);
}

.bg_fourth{
    background-color: var(--boolist-fourth);
}

.bg_secondary-light{
    background-color: var(--boolist-secondary-light);
}

.bg_fifth{
    background-color: var(--boolist-fifth);
}